main {
    text-align: center;
    width: 100%;
    overflow: auto;
}

.bio-container {
    margin: 0 auto;
    text-align: inherit;
    width: 100%;
}

.bio-header {
    font-family: 'Gentium Book Basic', 'Times New Roman', serif;
    font-size: 4rem;
}

#portland-pic img {
    max-width: 100%;
}

#portland-pic figcaption {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
}

#portland-pic figcaption::before,
#portland-pic figcaption::after {
    content: '"';
    font-size: 10rem;
    font-style: italic;
    font-weight: initial;
    position: absolute;
    color: rgba(0,0,0,0.13);
    z-index: -1;
}

#portland-pic figcaption::before {
    left: 0;
    top: -0.30em;
}

#portland-pic figcaption::after {
    right: 3rem;
    top: -0.20em;
}

@media screen and (max-width: 460px) {
    #portland-pic figcaption {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 700px) {
    .bio-header {
        font-size: 2.5rem;
    }

    #portland-pic {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    #portland-pic img {
        width: 100%;
    }

    #portland-pic figcaption {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .bio-container {
        width: 80%;
        max-width: 1200px;
    }

    #portland-pic figcaption {
        width: 60%;
        margin: 2rem auto;
    }
}



