.rule {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rule1,
.rule2,
.rule3 {
    width: 33%;
    margin: auto;
}


@media screen and (min-width: 801px) {
    .rule {
        margin: 2rem auto;
    }

    .rule .rule1,
    .rule .rule2 {
        display: none;
    }

    .rule .rule3 {
        height: 1px;
        background-color: #333;
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .rule {
        width: 50%;
        margin: 1rem auto;
    }

    .rule .rule1::before,
    .rule .rule2::before,
    .rule .rule3::before {
        content: '*';
    }
}
