@media screen and (max-width: 1023px) {
    .tooltip-text::before {
        content: "\A";
        white-space: pre;
    }
}

@media screen and (min-width: 1024px) {

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip-text {
        font-size: .75em;
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        width: 100px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 7px;
        padding: 6px 0;
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 125%;
        margin-left: -50px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltip-text::after {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

}
